.body {
  margin: 0px;
  background: white;
}

.body.lock {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  max-width: 1550px;
  margin: 0px auto;
  padding: 0px 25px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background: white;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  backdrop-filter: blur(184.612px);
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 61px;
  align-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__body {
    align-items: baseline;
  }
}
.header__logo {
  display: flex;
  z-index: 3;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 16.1279px;
  line-height: 20px;
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .header__logo {
    font-size: 20px;
  }
}
.header__logo-span {
  color: #fff;
}

.header__logo img {
  max-width: 100%;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
  position: relative;
  align-items: center;
  z-index: 2;
}

.header__item {
  padding-top: 20px;
  padding-left: 25px;
}

.header__list li {
  margin-left: 66px;
}

.header__link {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;
  color: black;
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 7px;
    width: 13.57px;
    height: 2.81px;
    top: 9px;
    transition: all 0.3s ease 0s;
    background: black;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 10px;
  }
  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 21.71px;
    height: 2.81px;
    left: 0;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
    background: black;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    backdrop-filter: blur(6px);
    background: rgba(0, 0, 0, 0.8);
    padding: 60px 0px 0px 0px;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin-left: 0px;
    margin-bottom: 20px;
  }
}
.content {
  padding-top: 100px;
}

@media (max-width: 767px) {
  .content {
    padding-top: 70px;
  }
  body.lock {
    overflow: hidden;
  }
}
.header__icon {
  fill: #ff56f6;
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(212.248px);
}

.button-7 {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 15px;
  color: #383d48;
}

.button-7 span {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 25px;
  color: black;
  display: block;
  overflow: hidden;
  max-width: 0;
  opacity: 0;
  white-space: nowrap;
  letter-spacing: 1px;
  line-height: 1;
  transition: 0.4s ease;
}

.button-7:after {
  content: url("../image/icon12.png");
  font-family: Linearicons-Free;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
}

.button-7:hover span {
  max-width: 150px;
  opacity: 1;
  margin-right: 6px;
}

.hero {
  padding-top: 100px;
}

.hero-box {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .hero-box {
    justify-content: center;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .hero-control {
    padding-top: 100px;
    width: 548px;
    height: 204px;
  }
}

.hero__title {
  margin-bottom: 20px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.18;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 450px;
    margin-bottom: 20px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.13;
  }
}

.hero__text {
  margin-bottom: 20px;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 142.5%;
  /* or 23px */
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .hero__text {
    width: 450px;
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.4;
  }
}

.hero-btn {
  display: flex;
  align-items: center;
}

.hero-btn__button {
  background: #1d1b26;
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #334ff0, #514ff0, #6d4ff0, #a94ff0);
  border-image-slice: 1;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hero-btn__button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: linear-gradient(180deg, #334ff0, #514ff0, #6d4ff0, #a94ff0);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hero-btn__button:hover {
  background: rgba(255, 255, 255, 0);
}
.hero-btn__button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.hero-btn__text {
  color: #a94fab;
}

.hero-img {
  display: flex;
  justify-content: center;
}

.hero-img__photo {
  z-index: 10;
  height: 300px;
  width: 300px;
}
@media screen and (min-width: 1200px) {
  .hero-img__photo {
    width: 865px;
    height: 644.77px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-img__photo-secondary {
    z-index: 0;
    position: absolute;
    width: 779.57px;
    height: 614.53px;
  }
}

.tabble {
  display: flex;
  justify-content: center;
}

.tabble-block__title {
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 3;
}

.post-wrap {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.post-item {
  padding: 15px;
  cursor: pointer;
}

.post-item * {
  transition: 0.3s linear;
}

.item-content {
  background: #6d6775;
  padding: 40px;
  border-radius: 19px;
}

.item-icon {
  margin-bottom: 20px;
}

.item-icon:before {
  content: "";
  font-family: FontAwesome;
  color: #b577fc;
  font-size: 50px;
  line-height: 1;
}

.item-icon.photo:before {
  content: url("../image/icon1.png");
}

.item-icon.video:before {
  content: url("../image/icon3.png");
}

.item-icon.gift:before {
  content: url("../image/icon5.png");
}

.item-icon.group:before {
  content: url("../image/icon6.png");
}

.item-icon.tree:before {
  content: url("../image/icon7.png");
}

.item-icon.anchor:before {
  content: url("../image/icon2.png");
}

.post-item:hover .item-icon,
.post-item:hover .item-body h3,
.post-item:hover .item-body p {
  transform: translateY(-8px);
}

.item-body {
  color: #ffffff;
  font-size: 14px;
}

.item-body h3 {
  font-weight: 500;
  margin-bottom: 15px;
  transition-delay: 0.05s;
}

.item-body p {
  transition-delay: 0.1s;
}

.item-footer {
  padding-top: 15px;
}

.link {
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding-right: 30px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
}

.link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 0.125rem;
  margin: auto;
  background: #ffffff;
  transform: scaleX(0.2);
  transform-origin: left center;
  z-index: 0;
  transition: 0.6s cubic-bezier(0.6, 0.01, 0, 1);
}

.link span {
  display: inline-block;
  position: relative;
  transform: translateX(-200%);
  transition: 0.6s cubic-bezier(0.6, 0.01, 0, 1);
}

.post-item:hover .link span {
  transform: translateX(0%);
}

.post-item:hover .link:before {
  transform-origin: right center;
}

@media (min-width: 768px) {
  .post-item {
    flex-basis: 50%;
    flex-shrink: 0;
  }
}
@media (min-width: 960px) {
  .post-item {
    flex-basis: 30%;
  }
}
.tabble-block {
  width: 1600px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.05);
  border-radius: 37px;
}

.portfolio {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 1200px) {
  .portfolio-info__title {
    width: 600px;
    margin-bottom: 20px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.13;
  }
}

.portfolio-info__text {
  margin-bottom: 20px;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 142.5%;
  /* or 23px */
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .portfolio-info__text {
    width: 500px;
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.4;
  }
}

.portfolio-info__item {
  margin-bottom: 20px;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 142.5%;
  /* or 23px */
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .portfolio-info__item {
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.4;
  }
}

.portfolio-info__btn {
  background: #1d1b26;
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #334ff0, #514ff0, #6d4ff0, #a94ff0);
  border-image-slice: 1;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.portfolio-info__btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: linear-gradient(180deg, #334ff0, #514ff0, #6d4ff0, #a94ff0);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.portfolio-info__btn:hover {
  background: rgba(255, 255, 255, 0);
}
.portfolio-info__btn:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.portfolio-info__item {
  display: flex;
  align-items: baseline;
}

.portfolio-info__vector {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}

.portfolio-desk {
  width: 270px;
  height: 174px;
  background: #a200ff;
  box-shadow: 0px 4px 22px rgba(45, 42, 207, 0.04);
  border-radius: 20px;
}

.portfolio-desk__title {
  padding-top: 34px;
  padding-left: 75px;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #3d3d3f;
}

.portfolio-desk__list {
  display: flex;
}/*# sourceMappingURL=main.css.map */