.body {
  margin: 0px;
  background: white;
}

.body.lock {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  max-width: 1550px;
  margin: 0px auto;
  padding: 0px 25px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background: white;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  backdrop-filter: blur(184.612px);
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 61px;
  align-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__body {
    align-items: baseline;
  }
}
.header__logo {
  display: flex;
  z-index: 3;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 16.1279px;
  line-height: 20px;
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .header__logo {
    font-size: 20px;
  }
}
.header__logo-span {
  color: #fff;
}

.header__logo img {
  max-width: 100%;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__item {
  padding-top: 20px;
  padding-left: 25px;
}

.header__list li {
  margin-left: 66px;
}

.header__link {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;
  color: black;
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 7px;
    width: 13.57px;
    height: 2.81px;
    top: 9px;
    transition: all 0.3s ease 0s;
    background: black;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 10px;
  }
  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 21.71px;
    height: 2.81px;
    left: 0;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
    background: black;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    backdrop-filter: blur(6px);
    background: rgba(0, 0, 0, 0.8);
    padding: 60px 0px 0px 0px;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin-left: 0px;
    margin-bottom: 20px;
  }
}
.content {
  padding-top: 100px;
}

@media (max-width: 767px) {
  .content {
    padding-top: 70px;
  }
  body.lock {
    overflow: hidden;
  }
}
.header__icon {
  fill: #ff56f6;
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(212.248px);
}

.hero {
  padding-top: 100px;
}

.hero-box {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .hero-box {
    justify-content: center;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .hero-control {
    padding-top: 100px;
    width: 548px;
    height: 204px;
  }
}

.hero__title {
  margin-bottom: 20px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.18;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 450px;
    margin-bottom: 20px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.13;
  }
}

.hero__text {
  margin-bottom: 20px;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 142.5%;
  /* or 23px */
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .hero__text {
    width: 450px;
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.4;
  }
}

.hero-btn {
  display: flex;
  align-items: center;
}

.hero-btn__button {
  background: #1d1b26;
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #334ff0, #514ff0, #6d4ff0, #a94ff0);
  border-image-slice: 1;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hero-btn__button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: linear-gradient(180deg, #334ff0, #514ff0, #6d4ff0, #a94ff0);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hero-btn__button:hover {
  background: rgba(255, 255, 255, 0);
}
.hero-btn__button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.hero-btn__text {
  color: #a94fab;
}

.hero-img {
  display: flex;
  justify-content: center;
}

.hero-img__photo {
  z-index: 10;
  height: 300px;
  width: 300px;
}
@media screen and (min-width: 1200px) {
  .hero-img__photo {
    width: 865px;
    height: 644.77px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-img__photo-secondary {
    z-index: 0;
    position: absolute;
    width: 779.57px;
    height: 614.53px;
  }
}

.tabble__list {
  display: flex;
}

.tabble__item {
  display: flex;
  justify-content: space-around;
  width: 526px;
  height: 203px;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 19px;
}

.tabble__text {
  padding-top: 20px;
  margin-bottom: 10px;
}/*# sourceMappingURL=main.css.map */