.footer {
  padding-top: 109px;
  background: rgba(32, 8, 59, 0.75);
}

.footer__icon {
  fill: violet;
  cursor: pointer;
}

.footer__icon-social {
  fill: violet;
  cursor: pointer;
}

.footer__icon-social:hover,
.footer__icon-social:focus {
  color: blueviolet;
  background: violet;
  .hero__icon {
    fill: #b936ee;
    stroke: #b936ee;
  }
}

.footer__logo {
  margin-bottom: 31px;
  display: flex;
  align-items: center;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer__text {
  margin-bottom: 26px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15.4764px;
  line-height: 1.71;

  color: #d9dbe1;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    width: 281.89px;
  }
}

.footer__list {
  display: flex;
  margin-bottom: 50px;
}

.footer__item {
  margin-right: 17px;

  &:last-child {
    margin-right: 0px;
  }
}

.footer-menu__list {
  display: flex;
  flex-direction: column;
}

.footer-menu__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 34px;
}

.footer-menu__text {
  margin-right: 120px;
  width: 156.87px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 19.8983px;
  line-height: 1.56;

  color: #ffffff;
}

.footer-menu__item::after {
  position: absolute;
  top: 50px;
  content: "";
  width: 300px;
  height: 1px;
  background: #ffffff;
  opacity: 0.2;
}

.footer__menu__secondary {
  display: flex;
  justify-content: center;
}

.footer-menu__secondary-text {
  margin-bottom: 38px;
  margin-right: 33px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14.4764px;
  line-height: 1.71;

  color: #d9dbe1;
}

.footer__tex-last {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14.4764px;
  line-height: 1.71;

  color: #d9dbe1;
}

.accordion {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.55;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;

  transition: 0.4s;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.7;
  }

  @media screen and (min-width: 1200px) {
  }
}

.footer-first {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.footer-secondary {
  display: none;
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-around;
  }
}

.footer-information {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-right: 90px;
  }
}

.accordion__text {
  width: 177px;
  margin-right: 60%;

  @media screen and (min-width: 500px) {
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
  }
}

.accordion:hover {
  background-color: rgba(32, 8, 59, 0.75);
}

.accordion:after {
  content: "";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.panel {
  padding: 0 18px;
  background-color: rgba(32, 8, 59, 0.75);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.pannel__text {
  color: white;
  margin-bottom: 20px;
}

.footer-market {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    width: 176.87px;
    margin-right: 33px;
  }
}

.footer-market__list {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    padding-top: 17px;
  }
}

.footer-market__item {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 13px;
  }
}

.footer-market__title {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 19.8983px;
    line-height: 1.55;

    color: #ffffff;
  }
}
.footer-market__link {
  &:hover,
  &:focus {
    color: #b936ee;
  }
  cursor: pointer;
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15.4764px;
    line-height: 1.8;

    flex: none;
    order: 0;
    flex-grow: 0;
    color: #d9dbe1;
  }
}

.footer-market__span {
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 400;
  font-size: 22.1092px;
  line-height: 1.22;

  color: #2ec5ce;

  flex: none;
  order: 1;
  align-self: flex-end;
  flex-grow: 0;
}

.collectibles-market__list {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    padding-top: 17px;
  }
}

.collectibles-market__item {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 13px;
  }
}

.collectibles-market {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-right: 33px;
    width: 176.87px;
  }
}

.collectibles-market__title {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 19.8983px;
    line-height: 1.55;

    color: #ffffff;
  }
}
.collectibles-market__link {
  &:hover,
  &:focus {
    color: #b936ee;
  }
  cursor: pointer;
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15.4764px;
    line-height: 1.8;

    flex: none;
    order: 0;
    flex-grow: 0;
    color: #d9dbe1;
  }
}

.support-market__list {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    padding-top: 17px;
  }
}

.support-market__item {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 13px;
  }
}

.support-market {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-right: 33px;
    width: 176.87px;
  }
}

.support-market__title {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 19.8983px;
    line-height: 1.55;

    color: #ffffff;
  }
}
.support-market__link {
  &:hover,
  &:focus {
    color: #b936ee;
  }
  cursor: pointer;
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15.4764px;
    line-height: 1.8;

    flex: none;
    order: 0;
    flex-grow: 0;
    color: #d9dbe1;
  }
}

.legal-market__list {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    padding-top: 17px;
  }
}

.legal-market__item {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 13px;
  }
}

.legal-market {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-right: 33px;
    width: 176.87px;
  }
}

.legal-market__title {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 19.8983px;
    line-height: 1.55;

    color: #ffffff;
  }
}
.legal-market__link {
  &:hover,
  &:focus {
    color: #b936ee;
  }
  cursor: pointer;
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15.4764px;
    line-height: 1.8;

    flex: none;
    order: 0;
    flex-grow: 0;
    color: #d9dbe1;
  }
}

.follow-market__list {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    padding-top: 17px;
  }
}

.follow-market__item {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 13px;
  }
}

.follow-market {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    width: 176.87px;
  }
}

.follow-market__title {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 19.8983px;
    line-height: 1.55;

    color: #ffffff;
  }
}
.follow-market__link {
  cursor: pointer;

  &:hover,
  &:focus {
    color: #b936ee;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15.4764px;
    line-height: 1.8;

    flex: none;
    order: 0;
    flex-grow: 0;
    color: #d9dbe1;
  }
}
