.info {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
}

.info-box__tittle {
	font-weight: 700px;
	text-align: center;
	font-size: 40px;
	color: #fff;
}

.info-box {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid #fff;
    box-shadow: 0px 0px 38px rgb(0 0 0 / 5%);
    border-radius: 37px;
	background-color: rgb(0 0 0 / 80%);
	margin-bottom: 100px;
}

.info-control__img {
	margin-right: 20px;
}

.info-control__item {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}

.info-control__text {
	text-align: center;
	font-size: 40px;
	background: #49c8d0;
    border: 3px solid;
    border-radius: 10px;
}

