.portfolio {
  padding-top: 109px;
  background: rgba(32, 8, 59, 0.75);

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
  }
}

.portfolio__card {
  margin-bottom: 43px;
  position: relative;
  width: 290px;
  height: 391.13px;

  border: 1.99px solid;

  border-image-source: linear-gradient(
    145.77deg,
    rgba(255, 255, 255, 0.28) 0%,
    rgba(255, 255, 255, 0) 105.76%
  );

  border-image-slice: 1;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) -1.52%,
    rgba(255, 255, 255, 0.024) 104.35%
  );
  backdrop-filter: blur(54.8377px);

  @media screen and (min-width: 375px) {
    width: 303px;
  }

  @media screen and (min-width: 1200px) {
    width: 350.76px;
    height: 564.89px;
  }

  @media screen and (min-width: 1400px) {
    width: 437.76px;
    height: 564.89px;
  }
}

.portfolio__title {
  margin-bottom: 30px;

  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 18.0606px;
  line-height: 23px;
  /* identical to box height */

  color: #ffffff;
}

.portfolio-vector {
  display: flex;
  align-items: center;
}

.portfolio-vector__text {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  font-size: 13.9587px;
  line-height: 32px;
  /* identical to box height, or 229% */

  display: flex;
  align-items: center;

  color: #ffb1ee;
}

.portfolio-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 63px;
  }
}

.portfolio__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.portfolio__title-statistic {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 21.9417px;
  line-height: auto;
  /* identical to box height, or 200% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 31.6897px;
    line-height: 2;
  }
}

.portfolio__text-statistic {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-size: 13.7136px;
  line-height: auto;
  /* identical to box height, or 320% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  opacity: 0.7;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 19.8061px;
    line-height: 2px;
  }
}

.portfolio-btn {
  width: 162.6px;
  height: 35.21px;

  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 13.7774px;
  line-height: 18px;
  text-align: center;

  color: #ffffff;

  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );

  border: 1.67px solid;

  border-image-source: linear-gradient(
    272.52deg,
    #ffa6fa 47.49%,
    #3c79d5 98.81%
  );

  border-image-slice: 1;

  box-shadow: 0px 3.33558px 80.8879px rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(160.108px);

  &:hover,
  &:focus {
    color: blueviolet;
    background: violet;
    .hero__icon {
      fill: #b936ee;
      stroke: #b936ee;
    }
  }
  cursor: pointer;
}

.portfolio__img {
  margin-bottom: 52px;
}

.portfolio__img-first {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    width: 350.13px;
    height: 205.62px;
  }

  @media screen and (min-width: 1400px) {
    width: 441.13px;
    height: 205.62px;
  }
}

.portfolio__img-secondary {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    width: 162.5px;
    height: 162.5px;
  }
}

.portfolio__title-information {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-size: 16.8391px;
  line-height: 32px;
  /* or 189% */

  text-align: center;

  color: #ffffff;
  text-align: center;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 24.3201px;
    line-height: 1.91;
  }
}

.portfolio-vector {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.portfolio-vector__text {
  margin-right: 1.5px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 20.1601px;
    line-height: 2.3;
  }
}

.portfolio__item {
  height: 65px;
  margin-right: 40px;
}

.portfolio__item:last-child {
  margin-right: 0px;
}

.portfolio__information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-vector__img {
  width: 15.84px;
  height: 17.28px;
}
